<div id="wrap" ng-controller="NavbarTopCtrl">

  <div id="header">
    <div class="container">
      <div class="row">
      
        <div class="col-sm-4">
          <div class="lft">
            <div class="launch_wedding_wall"><a href="#">Launch Wedding Wall</a></div>
          </div>
        </div>
        
        <div class="col-sm-4">
          <div class="logo"><img src="../assets/images/logo4.png" alt=""></div>
        </div>
        
        <div class="col-sm-4">
          <div class="rgt">
            <div class="top_right_section">
              <div class="user_name">Alexandr Pesenka</div>
              <div class="log_in_out"><a href="#">LOG OUT</a></div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>