<div id="nav" ng-controller="NavbarBottomCtrl">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
				
					<nav class="nav">
						<ul class="nav-list">
							<li class="nav-item"><a href="/profile">Profile</a></li>
							<li class="nav-item"><a href="/design">Design</a></li>
							<li class="nav-item"><a href="/posts">Posts</a></li>
							<li class="nav-item"><a href="/upload">Uploads</a></li>
							<li class="nav-item"><a href="/create">Create</a></li>
						</ul>
					</nav>
					<script src="flaunt.js"></script>
				</div>
			</div>
		</div>
	</div>