<!-- <footer id="footer" class="footer" style="vertical-align: middle; ">
        <div class="row" style="vertical-align: middle; padding: 20px;">
            <div class="col-sm-6" style="float: left;">
                <ul id = "footer-ul" class=" list-inline pull-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Post to wedding</a></li>
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Back to top</a></li>
                </ul>
            </div>
            <div class="col-sm-3" style="float: right;">
            <tbody>
               <tr>
                  <td>
                    <i id="footer-social-icon-facebook" class="fa fa-facebook-square" style="font-size:24px; color: #616161; background-color: #fff;"></i>
                  </td>
                  <td>
                    <i id="footer-social-icon-instagram" class="fa fa-instagram" style="font-size:24px; color: #616161;  background-color: #fff; "></i>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i id="footer-social-icon-twitter" class="fa fa-twitter-square" style="font-size:24px; color: #616161; background-color: #fff;"></i>
                  </td>
                  <td>
                    <i id="footer-social-icon-pinterest" class="fa fa-pinterest" style="font-size:24px; color: #616161;  background-color: #fff; "></i>
                  </td>               
                </tr>
              </tbody>
            </div>
        </div>
    
</footer> -->

<div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="footer_inner_section">
            <div class="footer_link">
              <ul>
                <li><a href="#">Home</a></li>
                <li>Post to wedding</li>
                <li>Log in</li>
                <li>pricing</li>
                <li>Contact</li>
              </ul>
            </div>
          </div>
          <div class="footer_inner_section">
            <div class="backtotop"><a href="#" target="_top">Back to Top <i class="fa fa-arrow-up" aria-hidden="true"></i></a></div>
          </div>
          <div class="footer_inner_section">
            <div class="footer_social_icon">
              <ul>
                <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-pinterest-square" aria-hidden="true"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>