#design_page_background{
  background: url("../../assets/images/background/create_page_background.png");
}

.design_dialog{
  background-color: #fff;
  padding: 26px 0px 0px 0px;
  /*width: 621px;*/
  /*min-height: 770px;*/
  /*height: 100%;*/
  color: #616161;
  border: 2px transparent;
  border-radius: 5px;
}

.design_preview_dialog{
  background-color: #f9f9f9;
  position: relative;  
  /*min-height: 341px;*/
  /*height: 392px;*/
  height: 100%;
  border: 3px solid #ede1e5;
  border-radius: 2px;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.1) !important;
}

.design_preview_dialog_top{
  width: 100%;
  height: 100%;
  /*padding: 12px 0px 12px 0px;*/
  padding: 12px;

}
.design_preview_dialog_bottom{
  background-color: #fff;
  position: relative;  
  bottom: 0;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.1) !important;
  width:100%;
  height:15%;
}